/*========================================
1.1 contact-area start
=========================================*/

.hx-contact-area {
  background: url(../../images/contact/1.jpg) center center/cover no-repeat local;
  position: relative;
  padding-bottom: 60px;
}

.hx-contact-area.ptb-100-70{
  padding-bottom: 100px;
}

.hx-contact-content h2 {
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 50px;
}

.hx-contact-area:before {
  content: "";
  background-color: rgba(7, 47, 79, 0.76);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.hx-contact-area form,
.hx-contact-area-s2 form,
.contact-style-2 form,
.contact-style-2-s2 form {
  overflow: hidden;
  margin: 0 -15px;
}

.hx-contact-area form .half-col,
.hx-contact-area-s2 form .half-col {
  width: 50%;
  float: left;
}

@media (max-width: 600px) {

  .hx-contact-area form .half-col,
  .hx-contact-area-s2 form .half-col {
      width: 100%;
      float: left;
  }
}
@media (max-width: 991px) {

  .hx-contact-img{
    top: 40px!important;
  }
}
@media (max-width: 767px) {

  .hx-contact-area.ptb-100-70{
    padding-bottom: 70px;
  }
}


.hx-contact-area form .submit-btn-wrapper,
.hx-contact-area-s2 form .submit-btn-wrapper {
  padding-bottom: 0;
}
.submit-btn-wrapper button.theme-btn {
  padding: 13px 35px;
  font-size: 16px;
}
.hx-contact-area form .form-field{
  margin-bottom: 30px;
}


.hx-contact-area form input,
.hx-contact-area-s2 form input,
.hx-contact-area form textarea,
.hx-contact-area-s2 form textarea,
.hx-contact-area-s2 form select {
  background: rgba(40, 68, 92, .7);
  height: 50px;
  padding: 6px 15px;
  color: #fff;
  border: 2px solid #454545;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #71818e;
  width: 100%;
}

.form-control {
  color: #fff;
}

.hx-contact-area select.form-control:not([size]):not([multiple]) {
  height: 50px;
  padding: 6px 15px;
  color: #fff;
  font-size: 14px;
  border: 2px solid #454545;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #71818e;
  position: relative;
  -webkit-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background: rgba(40, 68, 92, .7) url(../../images/select-icon.png) no-repeat calc(100% - 15px) center;
}

.hx-contact-area form input:focus,
.hx-contact-area-s2 form input:focus,
.hx-contact-area form textarea:focus,
.hx-contact-area-s2 form textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #71818e;
  background: rgba(40, 68, 92, .7);
  color: #fff;
  outline: none;
}

.hx-contact-area form textarea,
.hx-contact-area-s2 form textarea {
  height: 135px;
  padding: 15px;
}

.hx-contact-area form p{
  color: red;
  font-size: 0.875rem;
  font-weight: normal;
  margin: 5px 0 0 0;
  text-align: left;
  display: block;
}

.theme-btn {
  background-color: #ed5217;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 12px 25px 9px;
  border: 2px solid transparent;
  text-transform: capitalize;
  display: inline-block;
  transition: all .3s;
  cursor: pointer;
}

.hx-contact-img {
  position: relative;
  width: 138%;
  top: 10%;
}

.hx-contact-area-s2 .hx-contact-img {
  position: relative;
  width: 138%;
  top: 10%;
}

.theme-btn:hover {
  background: #f84e0e;
}

.hx-contact-form ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 14px;
}

.hx-contact-form ::-moz-placeholder {
  /* Firefox 19+ */

  color: #fff;
  font-size: 14px;
}

.hx-contact-form :-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
  font-size: 14px;
}

.hx-contact-form :-moz-placeholder {
  /* Firefox 18- */

  color: #fff;
  font-size: 14px;
}